{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %} 

    <div class="workspace-nav">
        <p><b>{{ request.user }}</b> Workspace</p>
    </div>

    <hr style="width: 53%; margin-left: 14.5%;">

    <div class="container-monorooms-data">
        {% for data in available_rooms %}
            <a href="{% url 'tables' redirected_from='room' key_id=data.id %}">
                <div class="data_cubes">
                    <p>{{ data.name }}</p>
                </div>
            </a>
        {% endfor %}
        <a data-toggle="modal" data-target="#createRoomModal" class="createRoom">
            <div class="data_cubes new_room">
                <p class="create_new_room-text">Create room</p>
            </div>
        </a>

        <!-- Modal create new room form -->
        <div class="create_room_modal">
            <div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomForm" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">New room</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>

                    <div class="modal-body" style="text-align: center;">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {% render_field create.owner name="id_owner" %}
                            </div>
                            <div class="form-group-name">
                                <label>{{ create.name.label }}</label>
                                {% render_field create.name name="id_name" %}
                            </div>
                            <div class="form-group">
                                <label>{{ create.description.label }}</label>
                                {% render_field create.description name="id_description" %}
                            </div>
                            
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Create room</button>

                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
              
{% endblock content %}